.button {
  position: relative;
  font-size: 16px;
  background: #4462CC;
  color: #F1F4F8;
  padding: 15px 20px;
  cursor: pointer;
  user-select: none;
  text-align: center;
}

.button:hover {
  opacity: 0.95;
}

.button:active {
  opacity: 0.9;
}

.buttonLoading {
  opacity: 1;
  pointer-events: none;
}

.hideText {
  visibility: hidden;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
