.inputWrap {
  display: flex;
  margin-top: 10px;
  flex-direction: column;
  width: 80vw;
  max-width: 600px;
}

.input {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 10px 20px;
  border: 5px solid #4461cd;
  font-family: 'Lato';
  color: #4461cd;
  font-size: 16px;
  outline: none;
}

.button {
  width: 140px;
  align-self: flex-end;
  margin-top: 10px;
}
