.textPageWrap {
  width: 80vw;
  max-width: 950px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.textWrap {
    width: 100%;
}

.featuredText {
  color: #4462CC;
  font-family: 'Lato', sans-serif;
  font-size: 36px;
  text-align: center;
}

.outerDetails {
  text-align: center;
  width: 100%;
}

.separator {
  max-width: 320px;
  height: 6px;
  background: #4462CC;
  width: 100%;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 15px;
  color: #a2a2a2;
}

.details {
  color: #a2a2a2;
  font-size: 14px;
}

.detailItem {
  word-wrap: break-word;
  width: 100%;
  text-align: center;
}

.detailItem span {
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  .featuredText {
    font-size: 24px;
  }
}
